@import url('https://fonts.googleapis.com/css2?family=Londrina+Solid:wght@300&family=Permanent+Marker&family=Tilt+Neon&display=swap');
 :root {
    --big-text: 'Permanent Marker', cursive;
    --my-padding: 20px;
    --blue: rgb(0 112 255);
    --purple: rgb(145, 31, 145);
    --pink: rgb(241 0 255);
}

* {
    padding: 0;
    margin: 0;
    font-family: 'Tilt Neon', cursive;
    letter-spacing: 2px;
}

.navbar-logo {
    box-shadow: 3px 3px 3px rgba(0, 0, 0, 0.2);
    height: 50px;
    margin-bottom: 10px;
    border-radius: 10px;
}

.navbar-logo:hover {
    transform: scale(1.1);
}

.navbar-expand-lg .navbar-collapse {
    flex-direction: row-reverse;
}

.navbar-links {
    font-size: 120%;
    margin-right: 30px;
}

.nav-link {
    color: var(--blue)
}

.nav-link:hover {
    color: var(--pink);
}

.overlay {
    height: 100%;
    background: linear-gradient(90deg, #ffffffb8, #ffffff);
    z-index: 2;
    max-width: 100vw;
    width: 100%;
    padding: 0 var(--my-padding);
}

.wrapper {
    width: 100vw;
    height: auto;
    background: url("../images/background-image.jpg") no-repeat center center;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
    display: flex;
    align-items: center;
    justify-content: center;
    text-align: center;
    z-index: 1;
}

.page-headers {
    font-family: var(--big-text);
    font-size: 375%;
    margin-top: 30px;
    color: var(--blue);
    margin-bottom: 0;
    text-shadow: 1px 1px black;
}

.page-headers.line-2 {
    font-size: 400%;
    color: var(--purple);
    margin: 0 auto;
    width: 40%;
    border-bottom: 3px solid;
    padding-bottom: var(--my-padding);
}

.main-page-div {
    display: flex;
    margin-top: 4%;
    margin-bottom: 4%;
}

.main-page-left {
    width: 50%;
}

.main-page-right {
    width: 50%;
}

.information-p {
    padding: var(--my-padding) 5% 0;
    font-size: 130%;
    text-align: left;
    margin-bottom: 0;
}

.project-container {
    display: flex;
    flex-wrap: wrap;
    margin-bottom: 3vh;
}

.project-image {
    width: 90%;
}

.project-name {
    font-family: 'Londrina Solid', cursive;
    letter-spacing: 3px;
    padding: 10px var(--my-padding);
    color: rgb(52 100 255);
    margin-bottom: 0;
    text-shadow: 0.5px 0.5px black;
}

.project-thumb-info {
    font-size: 12px;
    padding: 0 5px;
    color: rgb(43, 43, 43);
}

.thumnail-link {
    margin: 20px 10px 0;
    width: 45%;
    height: 350px;
    background-color: #ffffff80;
    padding-top: var(--my-padding);
    border-radius: 15px;
    text-decoration: none;
    transition: 1s;
}

.thumnail-link:hover {
    transform: scale(1.1);
    border: 1px solid var(--purple);
    box-shadow: 4px 4px 4px rgba(0, 0, 0, 0.2);
}

footer {
    text-align: center;
    padding: 20px 0 10px;
}

.social-links {
    font-size: 22px;
    color: var(--purple);
}

.social-links:hover {
    color: var(--pink);
}

.theo-tag {
    text-decoration: none;
    font-family: var(--big-text);
    color: var(--blue);
    font-size: 20px;
}

.copyright-text {
    margin-bottom: 5px;
}

.theo-tag:hover {
    color: var(--purple);
}

.page-headers.line-2.about-header {
    margin-top: 3%;
}

.about-page-left {
    width: 50%;
    padding: 40px;
    position: relative;
}

.about-image {
    width: 90%;
    border-radius: 25px;
    opacity: 95%;
    border: 2px solid var(--purple);
}

.overlay-about {
    position: absolute;
    width: 100px;
    height: 100px;
    color: black;
}

.top-p.information-p.about-p {
    padding-top: 30px;
}

.responsive-div {
    display: none;
}

.project-image-div {
    margin: 20px 10px 0;
    height: 100%;
    background-color: #ffffffcd;
    padding-top: var(--my-padding);
    border-radius: 15px;
    padding-bottom: var(--my-padding);
    border: 1px solid var(--blue);
}

.project-image-1 {
    width: 95%;
}

.project-image-23 {
    width: 45%;
    border: 1px solid var(--purple);
}

.project-image-4 {
    width: 95%;
}

.page-headers.line-2.theo-header {
    width: 40%;
}

.website-link {
    color: var(--blue);
    font-family: var(--big-text);
    margin-bottom: 2%;
}

.website-link-a {
    color: var(--purple);
    font-family: var(--big-text);
    text-decoration: none;
}

.website-link-a:hover {
    color: rgb(241 0 255);
}

.main-page-div.project-page-div {
    margin-bottom: 2%;
}

.form-container {
    padding: 30px 30px 10px;
    width: 70%;
    background: #ffffff63;
    margin: 40px auto;
}

.form-label {
    display: flex;
}

.button-div {
    display: flex;
    flex-direction: row-reverse;
}

.contact-h1 {
    color: var(--purple);
    margin-bottom: 10px;
}

button#sub-but {
    margin-top: 15px;
    background-color: var(--blue);
    border: none;
}

button#sub-but:hover {
    background-color: var(--pink);
}

@media (max-width: 1280px) {
    .page-headers.line-2 {
        width: 40%;
    }
    .information-p.project-p {
        padding: var(--my-padding) 0 0 10px;
        margin-left: 10px;
    }
    .about-image {
        width: 100%;
    }
    .main-page-div.about-page-div {
        display: unset;
    }
    .about-page-left {
        float: left;
        height: 100%;
        padding: 40px 40px var(--my-padding);
    }
    .main-page-right.about-page-right {
        margin: auto;
        width: 100%;
    }
    .information-p.about-p {
        text-align: left;
    }
    .information-p.about-p.about-p-bottom {
        margin-bottom: 30px;
    }
}

@media (max-width: 1025px) {
    .information-p.project-p {
        font-size: 90%;
    }
}

@media (max-width: 991px) {
    .main-page-div.index-div {
        flex-direction: column-reverse;
    }
    .main-page-right.index-right {
        width: 100%;
    }
    .main-page-left.index-left {
        width: 100%;
        margin-top: 30px;
    }
    .project-thumb-info {
        padding: 0 10px;
    }
    .page-headers.line-2 {
        width: 80%;
    }
    .information-p {
        text-align: center;
    }
    .information-p.project-p {
        text-align: left;
    }
    .project-image-23 {
        width: 100%;
    }
}

@media (max-width: 595px) {
    .page-headers {
        font-size: 250%;
        margin-top: 10px;
    }
    .page-headers.line-2 {
        font-size: 290%;
        padding-bottom: 10px;
    }
    .information-p {
        font-size: 100%;
    }
    .main-page-div {
        flex-direction: column-reverse;
    }
    .main-page-project-right {
        width: 100%;
    }
    .main-page-project-left {
        display: none;
    }
    .responsive-div {
        display: contents;
        width: 100%;
        margin: 10px 0;
    }
    .responsive-image {
        margin: 20px 0 10px;
    }
    .information-p.project-p {
        padding-top: 10px;
    }
    .website-link {
        font-size: 20px;
        margin-bottom: 20px;
    }
    .information-p.project-p {
        padding-left: 0;
    }
    .project-image {
        width: 95%;
    }
    .top-p.information-p.about-p {
        padding-top: 10px;
    }
    .about-page-left {
        width: 100%;
        padding: 10px;
        margin: 20px auto;
    }
    .information-p.about-p {
        margin-bottom: 0;
    }
}

@media (max-width: 420px) {
    .thumnail-link {
        width: 100%;
    }
    .main-page-left.index-left {
        margin-top: 20px;
    }
    .information-p {
        text-align: left;
    }
    .project-thumb-info {
        padding: 0 15px;
    }
    .page-headers.line-2 {
        width: 90%;
    }
    .top-p.information-p {
        padding-top: 10px;
    }
    footer {
        font-size: 10px;
        padding: 10px;
    }
    .social-links {
        font-size: 15px;
    }
    .theo-tag {
        font-size: 12px;
    }
    .main-page-div {
        flex-direction: column-reverse;
    }
    .main-page-project-right {
        width: 100%;
    }
    .main-page-project-left {
        display: none;
    }
    .responsive-div {
        display: contents;
        width: 100%;
        margin: 10px 0;
    }
    .responsive-image {
        margin: 20px 0 10px;
    }
    .information-p.project-p {
        padding-top: 10px;
    }
    .website-link {
        font-size: 20px;
        margin-bottom: 20px;
        margin-top: 20px;
    }
    .information-p.project-p {
        padding-left: 0;
    }
    .project-image {
        width: 95%;
    }
}

@media (max-width: 280px) {
    .page-headers {
        font-size: 150%;
    }
    .page-headers.line-2 {
        font-size: 180%;
    }
    .information-p {
        font-size: 75%;
    }
}