@import url('https://fonts.googleapis.com/css2?family=Londrina+Solid:wght@300&family=Permanent+Marker&family=Tilt+Neon&display=swap');
:root {
    --big-text: 'Permanent Marker', cursive;
    --my-padding: 20px;
    --blue: rgb(0 112 255);
    --purple: rgb(145, 31, 145);
}

* {
    padding: 0;
    margin: 0;
    font-family: 'Tilt Neon', cursive;
    letter-spacing: 2px;
}

.navbar-logo {
    box-shadow: 3px 3px 3px rgba(0, 0, 0, 0.2);
    height: 50px;
    margin-bottom: 10px;
    border-radius: 10px;
}

.navbar-logo:hover {
    transform: scale(1.1);
}

.navbar-expand-lg .navbar-collapse {
    flex-direction: row-reverse;
}

.navbar-links {
    font-size: 120%;
    margin-right: 30px;
}

.nav-link:hover {
    color: rgb(0 112 255);
}

.overlay {
    height: 100%;
    background: linear-gradient(90deg, #ffffffb8, #ffffff);
    z-index: 2;
    max-width: 100vw;
    width: 100%;
    padding: 0 20px;
}

.wrapper {
    width: 100vw;
    height: auto;
    background: url("../images/background-image.jpg") no-repeat center center;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
    display: flex;
    align-items: center;
    justify-content: center;
    text-align: center;
    z-index: 1;
}

.page-headers {
    font-family: var(--big-text);
    font-size: 375%;
    margin-top: 30px;
    color: var(--blue);
    margin-bottom: 0;
    text-shadow: 1px 1px black;
}

.page-headers.line-2 {
    font-size: 400%;
    color: var(--purple);
    margin: 0 auto;
    width: 30%;
    border-bottom: 3px solid;
    padding-bottom: 20px;
}

.main-page-div {
    display: flex;
    margin-top: 4%;
    margin-bottom: 4%;
}

.main-page-left {
    width: 50%;
}

.main-page-right {
    width: 50%;
}

.information-p {
    padding: 30px 5% 0;
    font-size: 22px;
    text-align: left;
    margin-bottom: 0;
}

.project-container {
    display: flex;
    flex-wrap: wrap;
    margin-bottom: 10vh;
}

.project-image {
    width: 90%;
}

.project-name {
    font-family: 'Londrina Solid', cursive;
    letter-spacing: 3px;
    padding: 10px 20px;
    color: rgb(52 100 255);
    margin-bottom: 0;
    text-shadow: 0.5px 0.5px black;
}

.project-thumb-info {
    font-size: 12px;
    padding: 0 5px;
    color: rgb(43, 43, 43);
}

.thumnail-link {
    margin: 20px 10px 0;
    width: 45%;
    height: 350px;
    background-color: #ffffff80;
    padding-top: 20px;
    border-radius: 15px;
    text-decoration: none;
    transition: 1s;
}

.thumnail-link:hover {
    transform: scale(1.1);
    border: 1px solid var(--purple);
}

footer {
    text-align: center;
    padding: 20px 0 10px;
}

.social-links {
    font-size: 22px;
    color: var(--purple);
}

.social-links:hover {
    color: var(--blue);
}

.theo-tag {
    text-decoration: none;
    font-family: var(--big-text);
    color: var(--blue);
    font-size: 20px;
}

.copyright-text {
    margin-bottom: 5px;
}

.theo-tag:hover {
    color: var(--purple);
}

.page-headers.line-2.about-header {
    margin-top: 3%;
}

.about-page-left {
    width: 50%;
    padding: 40px;
    position: relative;
}

.about-image {
    width: 100%;
    border-radius: 25px;
    opacity: 95%;
    padding: 20px;
    border: 2px solid var(--purple);
}

.overlay-about {
    position: absolute;
    width: 100px;
    height: 100px;
    color: black;
}

.information-p.about-p {
    font-size: 20px;
}

.project-image-div {
    margin: 20px 10px 0;
    height: 100%;
    background-color: #ffffffcd;
    padding-top: 20px;
    border-radius: 15px;
    padding-bottom: 20px;
    border: 1px solid var(--blue);
}

.project-image-1 {
    width: 95%;
}

.project-image-23 {
    width: 46%;
    border: 1px solid var(--purple);
}

.project-image-4 {
    width: 95%;
}

.page-headers.line-2.theo-header {
    width: 40%;
}